

.card-img{
   position: relative;
 
}

.butn{
   position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
   background-color: white;
    color: black;
    padding: 5px 30px;
    border: none;
    font-weight: 300;
    transition: 0.5s;
}



.butn:hover{
    background-color: black;
    color: white;
}